<%= render "layouts/header" %>
    
    <!--Main content-->
    <main>
        
        <div class="container">
           
            <%#= render "layouts/about" %>
            
            <!--<hr class="mt-5">-->
            
            <%= render "layouts/pillars" %>
            
            <hr class="mt-5">
            
            <%= render "layouts/what_we_do" %>
              
        </div>

        <%= render "layouts/streak" %>
       
        <div class="container">
            
            <%= render "layouts/resources" %>
            
            <hr class="mt-5">
            
            <%= render "layouts/media" %>
            
            <hr class="mt-5">
            
            <%= render "layouts/faq" %>
            
        </div>

        <!--/*Announcements*/-->
        <!--<div class="container-fluid background-r">-->
        <!--    <div class="container py-3">-->
        <!--        <#%= render "layouts/announcements" %>-->
        <!--    </div>-->
        <!--</div>-->

        <!--/*Testimonials*/-->
        <!--<div class="container">-->
        <!--    <#%= render "layouts/testimonials" %>            -->
        <!--</div>-->
        
    </main>
    <!--Main content-->
    
    <%= render "layouts/footer" %>
    

    
