<!--Application-->

<%= render "layouts/navbar_for_additional_pages"%>

<div class="container" style="height:100%;">
    <h1 class="section-heading my-5 py-5 font-bold">Start a Chapter</h1>
    <p id="notice"><%= notice %></p>
    
    <p>
      <strong>Name:</strong>
      <%= @application.name %>
    </p>
    
    <p>
      <strong>City:</strong>
      <%= @application.city %>
    </p>
    
    <p>
      <strong>State:</strong>
      <%= @application.state %>
    </p>
    
    <p>
      <strong>School:</strong>
      <%= @application.school %>
    </p>
    
    <p>
      <strong>Members:</strong>
      <%= @application.new_or_existing_org %>
    </p>
    
    <p>
      <strong>Former org:</strong>
      <%= @application.purpose %>
    </p>
  
  <%#= link_to 'Edit', edit_application_path(@application) %> 
  <%#= link_to 'Back', applications_path %>

</div>
<%= render "layouts/footer" %>