
<!--Contact-->

<%= render "layouts/navbar_for_additional_pages"%>

<div class="container" style="height:100%;">
    <h1 class="section-heading my-5 py-5 font-bold">Contact Us</h1>
    <p id="notice"><%= notice %></p>
    
        <p>
          <strong>Name:</strong>
          <%= @contact.name %>
        </p>
        
        <p>
          <strong>Email:</strong>
          <%= @contact.email %>
        </p>
        
        <p>
          <strong>Message:</strong>
          <%= @contact.message %>
        </p>
        
    <%#= link_to 'Edit', edit_contact_path(@contact) %> 
    <%#= link_to 'Back', contacts_path %>

</div>
<%= render "layouts/footer" %>