<!--Navbar-->
        <!--Added inline background color directly to the html below-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" style="background: #5c5b5d">
            <div class="container">
                <%= link_to image_tag("/assets/new_crest.png", :height => 140), index_path, :class => 'navbar-brand' %>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!--Links-->
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item">
                            <%#= link_to "About Us", "index#about", class:"nav-link", :'data-offset' => '100', method: :get%>
                            <%= link_to "About Us", "https://prod3-pbx-university-template-v11-jmar865.c9users.io/index#about", class:"nav-link", :'data-offset' => '100', method: :get%>
                            
                        </li>
                        <li class="nav-item">
                            <%#= link_to "What We Do", "index#what_we_do", class:"nav-link", :'data-offset' => '100', method: :get%>
                            <%= link_to "What We Do", "https://pbx-university-template-v10-jmar865.c9users.io/index#what_we_do", class:"nav-link", :'data-offset' => '100', method: :get%>
                        </li>
                        <li class="nav-item">
                            <%#= link_to "Chapter Resources", "index#resources", class:"nav-link", :'data-offset' => '100', method: :get%>
                            <%= link_to "Chapter Resources", index_path, class:"nav-link", :'data-offset' => '100', method: :get%>
                        </li>
                        <li class="nav-item">
                            <%#= link_to "Featured Chapters", "index", class:"nav-link", :'data-offset' => '100', method: :get%>
                            <%= link_to "Featured Chapters", "https://pbx-university-template-v10-jmar865.c9users.io/index", class:"nav-link", :'data-offset' => '100', method: :get%>
                        </li>
                        <li class="nav-item">
                            <%#= link_to "Media", "index#media", class:"nav-link", :'data-offset' => '100', method: :get%>
                            <%= link_to "Media", "https://pbx-university-template-v10-jmar865.c9users.io/index#media", class:"nav-link", :'data-offset' => '100', method: :get%>
                        </li>
                        <li class="nav-item">
                            <%#= link_to "FAQ", "index#faq", class:"nav-link", :'data-offset' => '100', method: :get%>
                            <%= link_to "FAQ", "https://pbx-university-template-v10-jmar865.c9users.io/index#faq", class:"nav-link", :'data-offset' => '100', method: :get%>
                        </li>
                    </ul>
                    <!--Social Icons-->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<!--Navbar-->