<!DOCTYPE html>
<html lang="en" class="full-height">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Pi Beta Chi</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag 'jquery' %>
  <%= csrf_meta_tags %>
  
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/assets/new_crest.png">

</head>
<body class="university-lp">
    
    <!--This image tag is here at the top of the body so that the image loads as soon as possible, and it is set to hidden because it is called to load later in the css-->
    <!--img src="assets/houseLetters.jpg" style="display:none"-->

<%= yield %>

<%= javascript_include_tag 'application'%>

    <script>
    
        //Animation init
        new WOW().init();
        
        //Modal
        $('#myModal').on('shown.bs.modal', function () {
          $('#myInput').focus()
        })
        
        // Material Select Initialization
        $(document).ready(function() {
            $('.mdb-select').material_select();
        });
        
        //Lightbox Init
        $(function () {
            // $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
            $("#mdb-lightbox-ui").load("mdb-lightbox-ui.html");
        });
        
    </script>

</body>
</html>





